
html{
    height: 95%;
}

body{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

width:100%; 
height:100%;
}

.bodyCalc
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    min-height: 700px;
    min-width: 800px;
    max-width: 800px;
    border: 2px solid #737373;
    border-bottom: 10px solid #696868;
    border-right: 10px solid #696868;  
    border-radius: 8px;
    background-color: #c2c2c2;

    margin-bottom:0;
    padding-bottom:0;
}

.brand
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;
    min-height: 20px;
    max-height: 20px;
    min-width: 650px;
    color: #383838;  
}

@font-face{
    font-family: DisplayFont;
    src: url('resources/Digital-7-V7.tff') format('truetype');
    src: url('resources/Digital-7-V7.otf') format('opentype');
    src: url('resources/Digital-7-V7.woff') format('woff');
    
}


.display
{
    min-width: 645px;
    max-width: 645px;
    min-height: 100px;
    border: 2px solid #737373;

    background-color: #a6a89e;

    box-shadow: inset 0px 0px 2px 2px #868780;

    font-family: DisplayFont;
    font-size: 80px;
}

.btnBox
{
    display:flex;
    flex-direction: column;
    gap: 10px;

}

.row1, .row2, .row3, .row4
{
    display: flex;
    justify-content: flex-start;
    /*min-width: 1000px;*/
    gap: 20px;
}

.rowNum, .rowOP
{
    display: flex;
    justify-content: flex-start;
    /*min-width: 1000px;*/
    gap: 10px;
}

.btnNum
{
    min-width: 100px;
    min-height: 100px;
    font-size: 30px;
    color: #383838;
    border: none;
    box-shadow: 2px 2px 3px #696868;
}

.btnOp, .btnClr, .btnDel
{
    min-width: 150px;
    min-height: 100px;
    font-size: 30px;
    color: #383838;
    border:none;
    box-shadow: 2px 2px 3px #696868;
}

.row1 .btnClr, .row1 .btnDel
{
    background-color: #d69ca7;
}

.row4 .btnOp
{
    min-width: 100px;
    min-height: 100px;
}

.btnEquals 
{
    min-width: 310px;
    min-height: 100px; 
    font-size: 30px;
    color: #383838;
    border: none;
    box-shadow: 2px 2px 3px #696868;
}

a{
    color:#383838;
    font-style: normal;
}